/* Reset dan Font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body Styling */
body {
  background-color: #f0f0f0; /* Anda bisa mengganti warna latar sesuai keinginan */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container Utama */
.container {
  width: 90%;
  max-width: 1200px;
  padding: 40px;
}

/* Judul */
.title {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
  font-size: 2.5em;
}

/* Section Environmental Data */
.environmental-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

/* Section Gyroscope Data */
.gyroscope-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

/* Kartu */
.card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Judul Kartu */
.card h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

/* Data Kartu */
.card p {
  font-size: 2em;
  color: #007BFF;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .title {
    font-size: 2em;
    margin-bottom: 30px;
  }

  .card {
    padding: 20px;
  }

  .card h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 1.8em;
  }

  /* Layout Adjustment for Smaller Screens */
  .environmental-data, .gyroscope-data {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  .card {
    padding: 15px;
  }

  .card h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }

  .card p {
    font-size: 1.5em;
  }


}
